/dts-v1/;
/plugin/;

/{
    // Add board specific clocks
    fragment@0{
        target = <&clocks>;
        __overlay__{
            clk_40M_fixed: clock@0 {
                #clock-cells = <0x0>;
                compatible = "fixed-clock";
                clock-frequency = <40000000>;
                clock-output-names = "ad9361_ext_refclk";
            };
        };
    };

    // Set clock in ad9361_phy
    fragment@1{
        target = <&ad9361_phy>;
        __overlay__{
            clocks = <&clk_40M_fixed 0x0>;
            adi,dcxo-coarse-and-fine-tune = <0x8 0x1720>;
        };
    };

    fragment@2{
        target-path = "/";
        __overlay__{
            leds {
                compatible = "gpio-leds";

                ds8 {
                    label = "ds12:green";
                    gpios = <&gpio0 0x3d 0x0>;
                    //gpios = <0x6 7 0x0>;//according to zc706 board, do not know why real gpio_bd[7] here becomes 0x3d
                    default-state = "off";
                };

                ds9 {
                    label = "ds15:green";
                    gpios = <&gpio0 0x3e 0x0>;
                    //gpios = <0x6 8 0x0>;//according to zc706 board, do not know why real gpio_bd[7] here becomes 0x3e
                    default-state = "off";
                };

                ds10 {
                    label = "ds16:green";
                    gpios = <&gpio0 0x3f 0x0>;
                    //gpios = <0x6 9 0x0>;//according to zc706 board, do not know why real gpio_bd[7] here becomes 0x3f
                    default-state = "off";
                };

                ds35 {
                    label = "ds17:green";
                    gpios = <&gpio0 0x40 0x0>;
                    //gpios = <0x6 10 0x0>;//according to zc706 board, do not know why real gpio_bd[7] here becomes 0x40
                    default-state = "on";
                };
            };

            gpio_keys {
                compatible = "gpio-keys";
                #address-cells = <0x1>;
                #size-cells = <0x0>;
                autorepeat;

                sw7 {
                    label = "Left";
                    linux,code = <0x69>;
                    gpios = <&gpio0 0x3a 0x0>;
                };

                sw8 {
                    label = "Right";
                    linux,code = <0x6a>;
                    gpios = <&gpio0 0x3c 0x0>;
                };

                sw9 {
                    label = "Select";
                    linux,code = <0x1c>;
                    gpios = <&gpio0 0x3b 0x0>;
                };
            };
        };
    };
};